@use "sass:list";

$days-in-month: 31;
$cell-size: 100px;
$gap-size: 1px;
$start-days: mon, tue, wed, thu, fri, sat, sun;

@for $day from 1 through $days-in-month {
  .calendar__header-item:nth-child(#{$day})::before {
    content: '#{$day}';
  }
}

@for $length from 28 through 31 {
  .calendar--month-length-#{$length} {
    .calendar__header-item:nth-child(n + #{$length + 1}) {
      display: none;
    }
  }
}

@each $start-day in $start-days {
  .calendar--start-day-#{$start-day} {
    .calendar__header-item:first-child {
      margin-left: calc((#{list.index($start-days, $start-day)} - 1) * (#{$cell-size} + #{$gap-size}));
    }
  }
}

body {
  margin: 0;
}

.calendar__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1px;
  width: calc(7 * #{$cell-size} + 6 * #{$gap-size});
}

.calendar__header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: $cell-size;
  height: $cell-size;
  border: 1px solid black;
  background-color: #eee;
  box-sizing: border-box;
}

.calendar__header-item::before {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar__header-item:hover {
  display: block;
  width: $cell-size;
  height: $cell-size;
  background-color: gray;
  cursor: pointer;
}
